/*   Copyright by C-ART WEBDESIGN '2001 - www.c-art-web.de - (c-art@web.de)    */
/* CSS File for c-art-web.de */

BODY        {MARGIN: 15px; SCROLLBAR-FACE-COLOR: #314EFF; SCROLLBAR-HIGHLIGHT-COLOR: #3333CC; SCROLLBAR-SHADOW-COLOR: #3333CC; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #4d4d4d; SCROLLBAR-DARKSHADOW-COLOR: #000000;}

P       {font-family:verdana; font-size: 10pt; color:red; text-decoration: none; font-weight: normal;}
.textsmall       {font-family:verdana; font-size: 9pt; color:#000000; text-decoration: none; font-weight: normal;}
.textbig    {font-family:verdana; font-size: 12pt; color:r#FFFFFF; text-decoration: none; font-weight: bold;}
.textbold   {font-family:verdana; font-size: 10pt; color:red; text-decoration: none; font-weight: bold;}
.textboldred   {font-family:verdana; font-size: 10pt; color:#FFFFFF; text-decoration: none; font-weight: bold;}

.linksmall        {font-family: verdana,helvetica,sans-serif; font-size: 10pt; color:#000000; text-decoration: none; font-weight: bold;}
.linksmall:hover  {text-decoration: underline;}

.linksmallbold        {font-family: verdana,helvetica,sans-serif; font-size: 10pt; color:#000000; text-decoration: none; font-weight: bold;}
.linksmallbold:hover  {text-decoration: underline;}


.menu:hover {font-family:verdana; font-size: 10pt; color:#ffd580; text-decoration: none; font-weight: bold;}

A {font-family:verdana; font-size: 12pt; color:#FFFFFF; text-decoration: underline; font-weight: bold;}

.link    {font-family: verdana,helvetica,sans-serif; font-size: 8pt; color:#FFFFFF; text-decoration: none;}
.link:hover    {text-decoration: underline;}
.alink    {font-family: verdana,helvetica,sans-serif; font-size: 8pt; color:#000000; text-decoration: none;}